<!DOCTYPE html>
<html lang="ru">
    <head>
        <!-- Meta tags -->
        <title>Bad Server</title>
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="cache-control" content="no-cache" />
        <meta name="referrer" content="no-referrer">

        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Extra head stuff -->
        
    </head>
<body>
    
    <div class="container">
    
        <br>

<div class="row">
    <div class="col-md-8" style="font-family: monospace; white-space: pre-line">
Bad Server
----------

Preved Medved! This is bad server. Read more at <a href="https://github.com/lorien/badserver">github.com/lorien/badserver</a> If your web server's log is spammed with requests from dumb bots then you can redirect them to Bad Server and maybe they will fuck off eventually.


How Bad it is?
--------------

<a href="/fuckoff/slow">/fuckoff/slow</a> - respond with infinite sequence of HTTP headers making 1 second pause before sending each next byte of data
<a href="/fuckoff/gzip">/fuckoff/gzip</a> - respond with "Content-Encoding: gzip" and serve 12MB content which is equal to 10GB bytes after unpacking
<a href="/fuckoff/honeypot">/fuckoff/honeypot</a> - redirect to red-flag URL (WP login.php, 25 port, etc) which possibly might trigger sending abuse report to client's internet provider
<a href="/fuckoff/random">/fuckoff/random</a> - redirect to random one of fuckoff endpoints described above
<a href="/stats">/stats</a> - return stats

    </div>
</div>

    </div> <!-- /container -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(56750992, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/56750992" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  </body>
</html>

